In [1]:
#we have taken a small dataset of COVID-19 from kaggle 
#we will analyze this data using pandas DataFrame

In [2]:
import pandas as pd
data = pd.read_csv(r'C:\Users\Hp\Desktop\4. covid_19_data.csv')

In [3]:
data.head()

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

In [4]:
data.shape

(321, 6)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       321 non-null    object
 1   State      140 non-null    object
 2   Region     321 non-null    object
 3   Confirmed  321 non-null    int64
 4   Deaths     321 non-null    int64
 5   Recovered  321 non-null    int64
dtypes: int64(3), object(3)
memory usage: 15.2+ KB

In [6]:
data.isnull().sum()

Date           0
State        181
Region         0
Confirmed      0
Deaths         0
Recovered      0
dtype: int64

In [7]:
# Q1 : show the number of Confirmed death and Recovered cases in each Region

In [8]:
data.groupby('Region')['Confirmed' , 'Recovered'].sum()

<ipython-input-8-67c32e1aa754>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby('Region')['Confirmed' , 'Recovered'].sum()

                    Confirmed  Recovered
Region
Afghanistan              1939        252
Albania                   766        455
Algeria                  3848       1702
Andorra                   743        423
Angola                     27          7
...                       ...        ...
West Bank and Gaza        344         71
Western Sahara              6          5
Yemen                       6          1
Zambia                     97         54
Zimbabwe                   32          5

[187 rows x 2 columns]

In [9]:
#Q2-Remouve all the records where Confirmed cases is less than 10

In [10]:
data[data.Confirmed<10]
data[~(data.Confirmed<10)]
data=data[~(data.Confirmed<10)]

In [11]:
#Q3-in which Region , maximum number of Confirmed cases where recorded ?

In [12]:
data.groupby('Region').Confirmed.sum().sort_values(ascending=False).head(10)

Region
US                1039909
Spain              236899
Italy              203591
France             166536
UK                 166432
Germany            161539
Turkey             117589
Russia              99399
Iran                93657
Mainland China      82861
Name: Confirmed, dtype: int64

In [13]:
#Q4-in which Region , minimum number of Deaths cases where recorded

In [14]:
data.groupby('Region').Deaths.sum().sort_values(ascending=True).head(10)

Region
Cambodia                    0
Seychelles                  0
Saint Lucia                 0
Central African Republic    0
Saint Kitts and Nevis       0
South Sudan                 0
Rwanda                      0
Grenada                     0
Macau                       0
Madagascar                  0
Name: Deaths, dtype: int64

In [15]:
#Q5-how many Cornfirmed,Deaths & Recovered cases where reported from US ?

In [ ]:
data[data.Region=='US']